{% extends "::base.html.twig" %}

{% block title %}MehdiBundle:Categorie:AjoutCategorie{% endblock %}

{% block body %}
<h1>Welcome to the Categorie:AjoutCategorie page</h1>
    {{ form_start(form) }}
    {{ form_end(form) }}


{% endblock %}
