{% extends "Front2Bundle:siteweb:page0.html.twig" %}

{% block b %}

    <img src="">
    <section id="categories">
        <div class="container clearfix">
            <ul class="category-images">
                <li class="grid right-space two-width">
                    <figure class="effect-bubba wow fadeInLeft" data-wow-delay="0.3s">
                        <img src="/front/media/categories/5.jpg" alt="Category">
                        <figcaption>
                            <div class="category-images_content">
                                <h2 class="font-third font-weight-light text-uppercase color-main">ESPACE BOUTIQUES</h2>
                                <p class="font-additional font-weight-bold text-uppercase color-main line-text line-text_white">Visiter les boutiques disponibles</p>
                            </div>
                            <a href="#">View more</a>
                        </figcaption>
                    </figure>
                </li>
                <li class="grid">
                    <figure class="effect-bubba wow fadeInRight" data-wow-delay="0.3s">
                        <img src="/front/media/categories/4.jpg" alt="Category">
                        <figcaption>
                            <div class="category-images_content">
                                <h2 class="font-third font-weight-light text-uppercase color-main">ACTUALITES</h2>
                                <p class="font-additional font-weight-bold text-uppercase color-main line-text line-text_white">Toutes les nouveautés</p>
                            </div>
                            <a href="#">View more</a>
                        </figcaption>
                    </figure>
                </li>
                <li class="grid">
                    <figure class="effect-bubba wow fadeInLeft" data-wow-delay="0.3s">
                        <img src="/front/media/categories/1.jpg" alt="Category">
                        <figcaption>
                            <div class="category-images_content">
                                <h2 class="font-third font-weight-light text-uppercase color-main">ESPACE BROQUANTE</h2>
                                <p class="font-additional font-weight-bold text-uppercase color-main line-text line-text_white">Vendez et achetez ici</p>
                            </div>
                            <a href="#">View more</a>
                        </figcaption>
                    </figure>
                </li>
                <li class="grid left-space right-space">
                    <figure class="effect-bubba wow fadeInUp" data-wow-delay="0.3s">
                        <img src="/front/media/categories/2.jpg" alt="Category">
                        <figcaption>
                            <div class="category-images_content">
                                <h2 class="font-third font-weight-light text-uppercase color-main">SERVICE APRES VENTE</h2>
                                <p class="font-additional font-weight-bold text-uppercase color-main line-text line-text_white">Services dispo 24/24</p>
                            </div>
                            <a href="#">View more</a>
                        </figcaption>
                    </figure>
                </li>
                <li class="grid">
                    <figure class="effect-bubba wow fadeInRight" data-wow-delay="0.3s">
                        <img src="/front/media/categories/3.jpg" alt="Category">
                        <figcaption>
                            <div class="category-images_content">
                                <h2 class="font-third font-weight-light text-uppercase color-main">ESPACE EVENEMENTS</h2>
                                <p class="font-additional font-weight-bold text-uppercase color-main line-text line-text_white">Consulter les évènements a venir</p>
                            </div>
                            <a href="#">View more</a>
                        </figcaption>
                    </figure>
                </li>
            </ul>
        </div>
    </section>


{% endblock %}