{% extends 'base.html.twig' %}
{% block content %}
    {% block body %}
        {% for livraison in livraisons %}
            <h1 class="align-content-lg-center">{{ livraison.commandeRef.produit.nomProduit }}</h1>
            <div class="progress">
                <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                     aria-valuenow="{{  livraison.etat }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ livraison.etat }}%">
            {{ livraison.etat }}% Completé
                </div>
            </div>
            <h3>
            {% if livraison.etat == 20 %}Votre commande est en attente de livreur
            {% elseif livraison.etat == 40 %}Un livreur est en route pour récuperer le collis
            {% elseif livraison.etat == 60 %}  Le livreur est en route pour vous delivrer le collis
            {% elseif livraison.etat == 80 %}   Le livreur est arrivé a destination
            {% endif %}
            </h3>

        {%  endfor %}
    {% endblock %}
{% endblock %}