{% extends "MehdiBundle:tennis:accueil.html.twig" %}
{% block produit %}
<center>
    <h1>Recherche d'un modéle dans la base</h1>
    <hr>
    <br>
    <br>
    <form method="post">
        <fieldset>
            <legend>Libelle</legend>
            <tr>
                <td><input type="text" name="nomProduit"></td>
            </tr>
        </fieldset>
        <input type="submit" name="submit" value="recherhe">
    </form>
    <h1>La liste des modeles</h1>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Lib</th>
            <th>Pays</th>

        </tr>
        <tr>
            {%for model in modeles%}
            <td>{{ model.id }}</td>
            <td>{{ model.nomProduit }}</td>
            <td>{{ model.prix }}</td>

        </tr>
        {% endfor %}
    </table>
</center>
{% endblock %}

