<div class="header-search_form">
    <form class="product-search form-inline" action="{{ path('redirection') }}" method="POST">
        <div class="form-group">
            <label class="sr-only" for="nomProduit">Product Name ...</label>
            <input type="search" class="product-search_field font-main font-weight-normal" id="searchQuery" placeholder="Product Name ...">
        </div>
        <button type="submit" class="product-search_btn hvr-border-fade">
            <i class="fa fa-search"></i>
        </button>
    </form>
</div>
