<h3 class="sidebar-title font-additional font-weight-bold text-uppercase customColor wow fadeInUp" data-wow-delay="0.3s">by price</h3>
<div class="sidebar-slider sidebar-slider_btm_padding wow fadeInUp" data-wow-delay="0.3s">
    <div class="slider-range" data-min="50" data-max="450" data-default-min="50" data-default-max="350" data-range="true" data-value-container-id="priceAmount"></div>
    <div class="filter-container">
        <div class="slider-range-value pull-left">
            <label class="font-main font-weight-normal" for="priceAmount">Price:</label>
            <input class="font-main font-weight-normal" type="text" id="priceAmount" readonly>
        </div>
        <a class="btn button-border font-additional font-weight-bold hvr-rectangle-out hover-focus-bg hover-focus-border before-bg pull-right" href="#">Filter</a>
    </div>
</div>
<h3 class="sidebar-title font-additional font-weight-bold text-uppercase customColor wow fadeInUp" data-wow-delay="0.3s">BY COLORS</h3>
<ul class="categories-tree wow fadeInUp" data-wow-delay="0.3s">
    <li>
        <a href="#" class="font-additional font-weight-normal hover-focus-color color-third text-uppercase">
            <span class="pull-left">White</span>
            <span class="pull-right">(8)</span>
        </a>
    </li>
    <li>
        <a href="#" class="font-additional font-weight-normal hover-focus-color color-third text-uppercase">
            <span class="pull-left">green</span>
            <span class="pull-right">(19)</span>
        </a>
    </li>
    <li>
        <a href="#" class="font-additional font-weight-normal hover-focus-color color-third text-uppercase">
            <span class="pull-left">black</span>
            <span class="pull-right">(9)</span>
        </a>
    </li>
    <li>
        <a href="#" class="font-additional font-weight-normal hover-focus-color color-third text-uppercase">
            <span class="pull-left">red</span>
            <span class="pull-right">(7)</span>
        </a>
    </li>
    <li>
        <a href="#" class="font-additional font-weight-normal hover-focus-color color-third text-uppercase">
            <span class="pull-left">blue</span>
            <span class="pull-right">(5)</span>
        </a>
    </li>
</ul>
<h3 class="sidebar-title font-additional font-weight-bold text-uppercase customColor wow fadeInUp" data-wow-delay="0.3s">BY SIZE</h3>
<ul class="categories-tree wow fadeInUp" data-wow-delay="0.3s">
    <li>
        <a href="#" class="font-additional font-weight-normal hover-focus-color color-third text-uppercase">
            <span class="pull-left">extra large</span>
            <span class="pull-right">(8)</span>
        </a>
    </li>
    <li>
        <a href="#" class="font-additional font-weight-normal hover-focus-color color-third text-uppercase">
            <span class="pull-left">Large</span>
            <span class="pull-right">(19)</span>
        </a>
    </li>
    <li>
        <a href="#" class="font-additional font-weight-normal hover-focus-color color-third text-uppercase">
            <span class="pull-left">medium</span>
            <span class="pull-right">(9)</span>
        </a>
    </li>
    <li>
        <a href="#" class="font-additional font-weight-normal hover-focus-color color-third text-uppercase">
            <span class="pull-left">small</span>
            <span class="pull-right">(7)</span>
        </a>
    </li>
    <li>
        <a href="#" class="font-additional font-weight-normal hover-focus-color color-third text-uppercase">
            <span class="pull-left">extra small</span>
            <span class="pull-right">(5)</span>
        </a>
    </li>
</ul>
<h3 class="sidebar-title font-additional font-weight-bold text-uppercase customColor wow fadeInUp" data-wow-delay="0.3s">By BRAND NAMES</h3>
<ul class="categories-tree wow fadeInUp" data-wow-delay="0.3s">
    <li>
        <a href="#" class="font-additional font-weight-normal hover-focus-color color-third text-uppercase">
            <span class="pull-left">adidas</span>
            <span class="pull-right">(8)</span>
        </a>
    </li>
    <li>
        <a href="#" class="font-additional font-weight-normal hover-focus-color color-third text-uppercase">
            <span class="pull-left">puma</span>
            <span class="pull-right">(19)</span>
        </a>
    </li>
    <li>
        <a href="#" class="font-additional font-weight-normal hover-focus-color color-third text-uppercase">
            <span class="pull-left">westpoint</span>
            <span class="pull-right">(9)</span>
        </a>
    </li>
    <li>
        <a href="#" class="font-additional font-weight-normal hover-focus-color color-third text-uppercase">
            <span class="pull-left">calvin klien</span>
            <span class="pull-right">(7)</span>
        </a>
    </li>
    <li>
        <a href="#" class="font-additional font-weight-normal hover-focus-color color-third text-uppercase">
            <span class="pull-left">armani</span>
            <span class="pull-right">(5)</span>
        </a>
    </li>
</ul>
<h3 class="sidebar-title font-additional font-weight-bold text-uppercase customColor wow fadeInUp" data-wow-delay="0.3s">featured products</h3>
<ul class="sidebar-popular-product wow fadeInUp" data-wow-delay="0.3s">
    <li>
        <a class="popular-product-item" href="product-details.html">
            <img src="/front/media/80x75/2.jpg" alt="Product">
            <span class="popular-product-item_title font-additional font-weight-bold text-uppercase">MEN shirts</span>
            <span class="popular-product-item_price font-additional color-third">$105.00</span>
        </a>
    </li>
    <li>
        <a class="popular-product-item" href="product-details.html">
            <img src="/front/media/80x75/3.jpg" alt="Product">
            <span class="popular-product-item_title font-additional font-weight-bold text-uppercase">women wear</span>
            <span class="popular-product-item_price font-additional color-third">$350.00</span>
            <span class="product-item_sale color-main font-additional customBgColor circle">-5%</span>
        </a>
    </li>
    <li>
        <a class="popular-product-item" href="product-details.html">
            <img src="/front/media/80x75/4.jpg" alt="Product">
            <span class="popular-product-item_title font-additional font-weight-bold text-uppercase">bags & packs</span>
            <span class="popular-product-item_price font-additional color-third">$240.00</span>
        </a>
    </li>
</ul>
</div>
<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 clearfix">
    <div class="content-box">
        <div class="category-filter clearfix wow fadeInUp" data-wow-delay="0.3s">
            <div class="select pull-left">
                <select class="select-field font-main color-third" name="sort" id="sort">
                    <option value="">Default Sorting</option>
                    <option value="trending">Trending items</option>
                    <option value="sales">Best sellers</option>
                    <option value="rating">Best rated</option>
                    <option value="price-asc">Price: low to high</option>
                    <option value="price-desc">Price: high to low</option>
                </select>
                <i class="fa fa-angle-down customColor"></i>
            </div>
            <div class="select pull-left">
                <select class="select-field font-main color-third" name="items-qty" id="items-qty">
                    <option value="12">Items On Page 12</option>
                    <option value="24">Items On Page 24</option>
                    <option value="36">Items On Page 36</option>
                    <option value="48">Items On Page 48</option>
                </select>
                <i class="fa fa-angle-down customColor"></i>
            </div>
            <a href="category-2.html" class="pull-right grid-type active customBgColor color-main">
                <span class="icon-list" aria-hidden="true"></span>
            </a>
            <a href="category.html" class="pull-right grid-type hover-focus-border">
                <span class="icon-grid" aria-hidden="true"></span>
            </a>
        </div>
        {% block a %}
        {{ render(controller('MehdiBundle\\Controller\\ProduitController::produitAction')) }}
        {% endblock %}

    </div>
</div>