<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{{ asset('front/css/navcss.css') }}" rel="stylesheet">
    <script src="{{ asset('front/js/nav.js.js') }}"></script>
</head>
<body>
<form method="post" action="{{ path('testbougalb') }}">
    <input type="file" name="image">
    <input type="submit">
</form>
</body>
</html>