{% for produit in produit %}
<a href="{{ path('CategorieProduit',{'categorie':produit.id}) }}" class="font-additional font-weight-normal hover-focus-color color-third text-uppercase">
    <span class="pull-left">{{ produit.nomCategorie }}</span>
    <span class="pull-right">(8)</span>
</a>
{% endfor %}