{% extends "::base.html.twig" %}

{% block title %}CalendrierMedecinsBundle:Patient:Ajout{% endblock %}

{% block body %}
<h1>Welcome to the Patient:Ajout page</h1>
    {{ form_start(form) }}
    {{ form_end(form) }}
{% endblock %}
