{% extends 'base.html.twig' %}

{% block content %}

    <style>
    h1{
            color:darkorange;
            font-family: Caflisch Script, Adobe Poetica, Sanvito, Ex Ponto, Snell Roundhand, Zapf-Chancery, cursive;
            font-weight:bold;
            text-align: center;
        }

    td
    {
        margin-top: 100px;
        margin-bottom: 100px;
        margin-right: 150px;
        margin-left: 80px;
        text-align: left;
        color: black;

    }
        th{
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

    </style>
    <h1>Update Event</h1>
    <center>
<table>

        {{ form_start(form) }}

    {{ form_end(form) }}
    </table>
    </center>
{% endblock %}