{% extends "::base.html.twig" %}

{% block title %}GestionBoutiquesBundle:Gestion:SupprimerBoutiques{% endblock %}

{% block body %}
<h1>Welcome to the Gestion:SupprimerBoutiques page</h1>
{% endblock %}
